.flex-container {
    display: flex;
    max-width: 1800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    justify-content: center; 
    align-items: center;
    margin: 1rem;
    margin-top: 3rem;
    
}

.boxProdukte {
    margin-top: 50px;
    position: relative;
    background-color: #1E2332;
    width: 100vw;
    height: 1250px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.boxInnen1 {
    position: absolute;
    max-width: 1500px;
    border-radius: 10px;
}
.boxInnen12 {
    border-radius: 10px;
}

.box3 {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.boxInnen {
    position: absolute;
    padding: 2rem;
    margin: auto;
}

img {
    border-radius: 15px;
}





